# This is SAMPLE of a environment file.
# You should rename it to .env and change the settings.

MAIL_HOST=smtp.google.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=********************
MAIL_FROM=your@email.com
